

<div class="d-flex justify-content-center">

  <form class="d-flex flex-column mt-5" action="/meal" method="POST">
    <h1 class="text-center">Add a Meal</h1>

    <div class="mb-3">
      <label for="name-input" class="form-label">Enter meal name:</label>
      <input name="name" type="text" class="form-control" id="name-input" aria-describedby="nameHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>