<div class="d-flex justify-content-center">
  <form class="d-flex flex-column" action="/register" method="POST">
    <h1 class="text-center">Register</h1>
  
    <input type="text" placeholder="Type your username">
    <input type="password" placeholder="Type your password">
    <button>Submit</button>
  </form>
</div>