<div class="d-flex justify-content-center">

  <form class="d-flex flex-column mt-5" action="/auth/register" method="POST">
    <h1 class="text-center">Register</h1>

    <div class="mb-3">
      <label for="username-input" class="form-label">Username</label>
      <input name="username" type="text" class="form-control" id="username-input" aria-describedby="usernameHelp">
    </div>
    <div class="mb-3">
      <label for="password-input" class="form-label">Password</label>
      <input name="password" type="password" class="form-control" id="password-input">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
